<!DOCTYPE html>
<html>
<head>
<title>Webprosjekt</title>
</head>

<body>
	<h1>Welcome <%= userName %></h1>

	<%=repo%>
	<button id="dbTest">Test DB</button>


<script type="text/javascript" src=index.js></script>
</body>


</html>