<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="syle.css">
	<title>Webprosjekt</title>
</head>

<body>
	<h1>Welcome <%= userName %></h1>

	<%=repo%>



<script type="text/javascript" src=index.js></script>
</body>


</html>