<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='style/style.css'/>
	<link rel='stylesheet' href='style/dashboard.css'/>
	<title>Webprosjekt</title>
</head>

<body>
	<h1>Welcome <%= userName %></h1>

	<% for(var i = 0; i < repoNames.length; i++){ %>
		<form method="POST" action="/inputName"> 
			<input type="hidden" name="repo" value=<%= repoNames[i].name%>><button class="repoFrame"> <%=repoNames[i].name%></button> 
		</form>
	<%}%>


<script type="text/javascript" src="index.js"></script>
</body>


</html>