<!DOCTYPE html>
<html>
<head>
<title>Webprosjekt</title>
</head>

<body>
	<h1>Welcome <%= userName %></h1>

<% for(var i = 0; i < repoNames.length; i++){ %>
<li><%= repoNames[i] %> </li>
<%}%>
<button id="dbTest">Test DB</button>

</body>
<script type="text/javascript" src=index.js></script>

</html>