<!DOCTYPE html>
<html>
<head>
<title>Webprosjekt</title>
</head>

<body>
<%= languageInfo %>
<button id="dbTest">Test DB</button>

</body>
<script type="text/javascript" src=index.js></script>

</html>