<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/login.css"/>
	<link rel="stylesheet" href="css/colorblindStyle.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
	<title>ProCeed</title>
</head>
<body>
	<main>
		<div class="wrapper-login">
			<img id="logo" src="/img/Original.png" alt="Logo">
			<a id="login-button" href="/authorize">LOG IN WITH GITHUB</a>
			<p>KEEP YOUR PROJECT AND REPOSITORY INFORMATION IN ONE PLACE</p>
		</div>
	</main>
	<script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>