<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='css/style.css'/>
	<link rel='stylesheet' href='css/login.css'/>
	<title>Ultra prosjekt admin</title>
</head>
<body>
	<main>
		<div class="wrapper-login">
			<img id="octocat" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
			<a id="login-button" onclick="animateOctocat()" href="/authorize">Authorize with GitHub OAuth</a>
			<p>Hold styr på prosjekter og oppgaver med Ultra-prosjekt admin <br> Koblet med Github og synkroniseres med repos</p>
		</div>
	</main>
	<script type="text/javascript" src=scripts/index.js></script>
</body>
</html>