<!DOCTYPE html>

<!----------- 
EJS file allow us to use javascript within the HTML tags to populate with data from the arrays we send from server to client
------------->

<html>
<head>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/login.css"/>
	<link class="colorblind" rel="stylesheet" href="css/colorblindStyle.css" disabled/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
	<title>ProCeed</title>
</head>
<body>
	<main>
		<div class="wrapper-login">
			<img id="logo" src="/img/Original.png" alt="Logo">
			<a id="login-button" href="/oAuth/authorize">LOG IN WITH GITHUB</a>
			<p>KEEP YOUR PROJECT AND REPOSITORY INFORMATION IN ONE PLACE</p>
		</div>
	</main>
	<script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>