<!DOCTYPE html>
<html>
<head>

	<!--- popup https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_target_modal --->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mainpage.css">
	<title>Ultra - Tasks</title>
</head>

<body>
	<h1>Welcome <%= userName %></h1>
	<%=repo%>

	<h2>Language docs</h2>
	
	<!---for-loop to get languages used in repo  --->
	<%for (let i = 0; i < repoLanguage.length; i++){%>
		<%let repoLowerCase = repoLanguage[i].toLowerCase()%>
		<li><a target="_blank" rel="noopener noreferrer" href=<%=docs[repoLowerCase]%>><%=repoLanguage[i]%></a></li>
		<%}%>	
	<!---------------------->
	
<script type="text/javascript" src=scripts/index.js></script>
</body>


</html>