<!DOCTYPE html>
<html>
<head>

	<!--- popup https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_target_modal --->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mainpage.css">
	<title>Ultra - Tasks</title>
</head>

<body>
	<header>
		<div class="head-container">
            <div class="head-column">
                <h3 class="head-h3">Manual</h3>

            </div>
            <div class="head-column">
                <h3 class="head-h3">To-Do</h3>
            </div>
            <div class="head-column">
                <h3 class="head-h3">Ongoing</h3>
            </div>
            <div class="head-column">
                <h3 class="head-h3">Finished</h3>
            </div>
            <div class="head-column">
                <h3 class="head-h3">Task filter</h3>
            </div> 

        </div>
	</header>
	<main>
		<div class="container">
			<div class="column column-1">
				<!--Code for the left side info-boxes-->
				<div onclick="createNewTask()">Create new task</div>
			</div>
			<div class="column column-2">
				<!--To-do code-->
			</div>
			<div class="column column-3">
				<!--Ongoing code-->
			</div>
			<div class="column column-4">
				<!--Finished code-->
			</div>
			<div class="column column-5">
				<!--Filters and language docs-->
				<h4>Repository collaborators</h4>


				<!--language docs-->
				<h4>Documentation for languages used in repository</h4>
					<%for (let i = 0; i < repoLanguage.length; i++){%>
						<%if (repoLanguage.length == 0){%>
						<li>No programming languages used in repository</li>
						<%}else{%>
						<li><a class="docsLink" target="_blank" href="<%= docs[repoLanguage[i].toLowerCase()]%>"><%=repoLanguage[i]%></a></li>
						<%}%>
					<%}%>

				<!--10 latest committs-->
				<h4>Latest commits</h4>
				<%for (let i = 0; i < commits.length; i++){%>
						<%if (commits.length == 0){%>
						<li>No commits so far</li>
						<%}else{%>
						<li><%=commits[i].message%> - by <%=commits[i].user%> </li>
						<%}%>
					<%}%>
			</div>
		</div>
	



		
   </main>
	<footer></footer>

	


	<script type="text/javascript" src="scripts/mainpage.js"></script>
</body>
</html>