<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/style.css'/>
		<title>Webprosjekt</title>
	</head>
	<body>
		<div class="wrapper">
			<img id="octocat" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
		 <a id="login-button" href="/authorize">Log In With GitHub</a>
		</div>


	<script type="text/javascript" src=index.js></script>
	</body>
	
</html>