<!DOCTYPE html>
<html>
	<head>
		<title>Webprosjekt</title>
	</head>
	<body>
		 <a id="login-button" href="/authorize">Log In With GitHub</a>
	</body>
	<script type="text/javascript" src=index.js></script>
</html>