<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/style.css'/>
		<title>Webprosjekt</title>
	</head>
	<body>
		<div class="wrapper">
		 <a id="login-button" href="/authorize">Log In With GitHub</a>
		</div>


	<script type="text/javascript" src=index.js></script>
	</body>
	
</html>