/* 

colorblinddashboard.css


saved some code in comments for future use
!important means I changed it
if it looks unchanged, or commented out the code may be reusable

Main colors
  rgb(100, 100, 100); //grey
  orange;
  black;
  white;

*/



/* MAIN */

.container{
   /* background: radial-gradient(circle 30rem, #ffffff, #e7e7e7); */
    background: black!important;
   }
  
  .dash-title{
    color: #F7C446;
    }
  
  .column{
    }
  
  .column-2{
    /* background: linear-gradient(to top, #4480ed, rgba(68, 128, 237, 40%)); */
    background: black!important;
    border: 0.5rem solid #ffffff !important;
  }
  
  .column-3{
    background: black!important;
    border: 0.5rem solid #ffffff !important;
  }
  
 .item{
  border: 0.05rem solid #ffffff !important;;
  background: black!important;
  color: #F7C446 !important;
}
  
.item:hover{
  background: #ffffff !important;
}
 
  
  /* END MAIN */
  
  /*POPUP new repo*/
  
.popup-window{
    background-color: black!important;
    border: solid .3rem #ffffff;
}

#popup-header
{
  color: #F7C446 !important;
}

.head-task-container{
  color: #F7C446 !important;
}

.dropdown-popup-title{
  color: #F7C446 !important;
}

  #group4 button{
    color: #F7C446 !important;
    border: solid white!important;
    background: black!important;
  }
  
  #group4 button:hover{
    background: rgb(100, 100, 100)!important;
  }
  
  #group4 button:active{
      box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
  }
  
  