/* 

Colorblind css-mix
 

I saved some code in comments for future use
!important means I changed it
if it looks unchanged, or commented out the code may be reusable


style.css       line 
mainpage.css    line ~269
login.css       line ~478


Main colors
  rgb(100, 100, 100); //grey
  orange;
  black;
  white;





/* colored scrollbar  */

html*{
  scrollbar-face-color: #030303!important;
  scrollbar-base-color: #050505!important;
  scrollbar-3dlight-color: #0a0909!important;
  scrollbar-highlight-color: #080505!important;
  scrollbar-track-color: #000!important;
  scrollbar-arrow-color: #000!important;
  scrollbar-shadow-color: #646464!important;
}

::-webkit-scrollbar { 
  width: 8px; height: 3px;
}
::-webkit-scrollbar-button {  
  background-color: rgb(100, 100, 100)!important;
}
::-webkit-scrollbar-track {  
  background-color: #646464!important;
}
::-webkit-scrollbar-track-piece { 
  background-color: #000!important;
}
::-webkit-scrollbar-thumb { 
  height: 50px; background-color: rgb(100, 100, 100)!important; border-radius: 3px;
}
::-webkit-scrollbar-corner { 
  background-color: #444444!important;
}}
::-webkit-resizer { 
  background-color: rgb(100, 100, 100)!important;
}

/* style.css Colorblind */

/*   HEADER */

.head-container{
	background: #ffffff!important;
  }
  
/* DROPDOWN MENU */
.dropdown-content{
	background-color: black!important;
  box-shadow: grey 0.1rem 0.3rem .5rem 0rem!important;
  border: 0.2rem solid white!important;
}

.dropdown-li {
  color: #F7C446!important;
	}

.dropdown:hover .dropdown-content {
  
}

.dropdown-btn:hover{
	cursor: pointer;
}

.dropdown-li:hover {
	background: rgb(100, 100, 100)!important;
}

.dropdown-li:active{
	box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}

.drop-popup-container {
  border: 0.1rem solid white!important;
}

.drop-popup-window{
	border: .05rem solid white!important;
	background-color: black!important;
}
/* END HEADER */

.add{
  background: black!important; 
  border: 0.15rem solid white!important;
}

#add-img{
  /* Her trengs en ny pil */
  }

.column-1 .item:hover{
	background: rgb(100, 100, 100)!important;
}

.column-1 .item:active{
	box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}

.column-2 .item:hover{
	background: rgb(100, 100, 100)!important;
}

.column-2 .item:active{
	box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}

.column-3 .item:hover{
	background: rgb(100, 100, 100)!important;
}

.column-3 .item:active{	
  box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}
/*POPUP mainpage and dropdown*/

.popup-container
{
    background-color: rgba(0,0,0,0.2)!important;
}

.popup-window
{
    background-color: black!important;
    border-radius: 15px;
}

#colorblind-button
{
  background-color: black!important;
  color: white!important;
  border-color: white!important;
  
}

.popup-column
{
}

#popup-header
{
  color: orange!important;
}

.head-task-container{
  color: orange!important;
}

#spacer{
}

.dropdown-popup-title{
  color: orange!important;
}


/* form starting stylings ------------------------------- */

#group1 .input
{
  background-color: black!important; 
}

.input-box
{ 			  
 
}
input 				{
  border: 0.1rem solid white!important;
  background-color: black!important;
  color: orange!important;
  border-bottom:1px solid #757575;
}

input:focus 		
{ 
  background-color: rgb(100, 100, 100)!important;
}

select
{
  color: orange!important;
  background-color: black!important;
}

#group4
{
}


.name-label			 {
  color:rgb(100, 100, 100)!important;;
}


input:focus ~ label, input:valid ~ label 		{
}



.input-dropdown
{
}

.select-task {
   border: 0.1rem solid white!important; 
  }


.input-multiline
{
}

textarea
{
    border: 0.1rem solid white!important; 
    background-color: black!important;
    color: orange!important;
}

.popup-exit-button
{
}


.delete-icon
{
}


#group5 button
{
  color: orange!important;
  border: solid white!important;
  background: black!important;
}

#group5 button:hover
{
  background: rgb(100, 100, 100)!important;
}

#group5 button:active
{
    box-shadow: inset .1rem .1rem 5rem black!important;
}



/* mainpage.css Colorblind */


/* MAINpage */
.container{
  background: radial-gradient(circle 30rem, black, rgb(100, 100, 100))!important;
  }

.column{
  background: black!important;
}

.column .item-container{
  border-radius: .3rem;
  border: 0.2rem solid white!important;
}

.column-1{
}

.column-4{
  background: black!important;
}


.column-1 .item-container{
  /*background: linear-gradient(to top, #4480ED, rgba(68, 128, 237, 40%));
  */
  background: black!important;
}

.column-2 .item-container{
 /* background: linear-gradient(to top, #E76646, rgb(231, 102, 70, 40%));
  */
  background: black!important;
}

.column-3 .item-container{
  /*background: linear-gradient(to top, #71DBC9, rgb(113, 219, 201, 40%));
  */
  background: black!important;
}

.column-4 .item{
  border: 0.2rem solid white!important;
}

.column li {
}

.column #commits{
}

.main-title{
}

.item-container{
}

.item{
  border: 0.05rem solid rgb(100, 100, 100)!important;;
  background: black!important;
  color: orange!important;
}

.item:hover{
}

.content{
  }

.progress{
 }

.button{
  border: 0.01rem solid white!important;;
  color: orange!important;
  background: black!important;
}

.manual{
}


/* Popup container--- */
.popup-container
{
  background-color: rgba(0,0,0,0.2)!important;
  color: orange!important;
}

.popup-window-task
{
  background-color: black!important;
  }

.popup-column{
}

#popup-header{
  }

.head-task-container{
}

#spacer{
}

/* form starting stylings ------------------------------- */

#group1{
}

.input-box
{ 		 
}
input 				{
  border: none;
border-bottom:1px solid #757575!important;
}

input:focus 		{  
}

#group2{
}

#group4{
}


/* LABEL ======================================= */
.name-label			 {
color:orange!important;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
}



.input-dropdown
{
}

.select-task {
  border: none;
  background-color: black!important;
}


.input-multiline{
 }

textarea
{
  border: none; 
  background-color: black!important;
  color: orange!important;
  }

.popup-exit-button{
}


.delete-icon{
 }


#group5 button
{
color: orange!important;
border: solid white!important;
border-radius: 0.5rem;
background: black!important;
}

#group5 button:hover
{
background: rgb(100, 100, 100)!important;
}

#group5 button:active
{
  box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}

#checkid{
}

/* Default CHECKBOX Hidden*/
.checkbox-container input{
  position: absolute!important;
  opacity: 0!important;
  cursor: pointer!important;
  height: 0!important;
  width: 0!important;
}
/* Custom checkbox ?

klassen checkmark må legges til isåfall

.checkmark{
background: black!important;
}

*/






/* login.css   */


.wrapper-login{
  /* background: radial-gradient(circle 30rem at 45rem 18rem, #ffffff, #cacaca); */
  background: black!important;
}

#logo{	
}

#login-button{ 
  color: orange!important;
	border: 0.05rem solid white!important;
	background: black!important;
}

#login-button:hover{
	background: rgb(100, 100, 100)!important;
}

#login-button:active{
  box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}




