/* 

Colorblind css-mix
 

I saved some code in comments for future use
!important means I changed it
if it looks unchanged, or commented out the code may be reusable


style.css       line 
mainpage.css    line ~269
login.css       line ~478


Main colors
  rgb(100, 100, 100); //grey
  orange;
  black;
  white;





/* colored scrollbar  */

html*{
  scrollbar-face-color: #030303!important;
  scrollbar-base-color: #050505!important;
  scrollbar-3dlight-color: #0a0909!important;
  scrollbar-highlight-color: #080505!important;
  scrollbar-track-color: #000!important;
  scrollbar-arrow-color: #000!important;
  scrollbar-shadow-color: #646464!important;
}

::-webkit-scrollbar { 
  width: 8px; height: 3px;
}
::-webkit-scrollbar-button {  
  background-color: rgb(100, 100, 100)!important;
}
::-webkit-scrollbar-track {  
  background-color: #646464!important;
}
::-webkit-scrollbar-track-piece { 
  background-color: #000!important;
}
::-webkit-scrollbar-thumb { 
  height: 50px; background-color: rgb(100, 100, 100)!important; border-radius: 3px;
}
::-webkit-scrollbar-corner { 
  background-color: #444444!important;
}}
::-webkit-resizer { 
  background-color: rgb(100, 100, 100)!important;
}

/* style.css Colorblind */

/*   HEADER */

.head-container{
	background: #ffffff!important;
  }
  
/* DROPDOWN MENU */
.dropdown-content{
	background-color: black !important;
  box-shadow: grey 0.1rem 0.3rem .5rem 0rem !important;
  border: 0.2rem solid white !important;
}

.dropdown-li {
  color: #F7C446 !important;
	}

.dropdown:hover .dropdown-content {
  
}

.dropdown-btn:hover{
	cursor: pointer;
}

.dropdown-li:hover {
	background: rgb(100, 100, 100)!important;
}

.dropdown-li:active{
	box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}

.drop-popup-container {
  border: 0.1rem solid white!important;
}

.drop-popup-window{
	border: .05rem solid white!important;
	background-color: black!important;
}
/* END HEADER */

.add{
  background: black!important; 
  border: 0.15rem solid white!important;
}

#add-img{
  /* Her trengs en ny pil */
  }

.column-1 .item:hover{
	background: rgb(100, 100, 100)!important;
}

.column-1 .item:active{
	box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}

.column-2 .item:hover{
	background: rgb(100, 100, 100)!important;
}

.column-2 .item:active{
	box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}

.column-3 .item:hover{
	background: rgb(100, 100, 100)!important;
}

.column-3 .item:active{	
  box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}
/*POPUP mainpage and dropdown*/

.popup-container{
    background-color: rgba(0,0,0,0.2)!important;
}

.popup-window{
    background-color: black!important;
    border: solid .3rem #ffffff;
}

#colorblind-button{
  background-color: black !important;
  color: white !important;
  border-color: white !important;  
}

#popup-header
{
  color: #F7C446 !important;
}

.head-task-container{
  color: #F7C446 !important;
}

.dropdown-popup-title{
  color: #F7C446 !important;
}
.popup-exit-button{
  filter: invert(100%) !important;
}

.popup-delete-button{
  filter: invert(100%) !important;
}

#add-img{
  filter: invert(100%) !important;
}

.add:hover {
  background: grey !important;
}


/* form starting stylings ------------------------------- */

input{
  border: 0.1rem solid white !important;
  background-color: black !important;
  color: #F7C446 !important;
  border-bottom:1px solid #757575;
}

input:focus{ 
  background-color: rgb(100, 100, 100)!important;
}

select{
  color: #F7C446 !important;
  background-color: black !important;
}

.name-label			 {
  color:rgb(100, 100, 100)!important;;
}


input:focus ~ label, input:valid ~ label{
}


.select-task {
   border: 0.1rem solid white!important; 
}

textarea
{
    border: 0.1rem solid white!important; 
    background-color: black!important;
    color: #F7C446 !important;
}

#group5 button
{
  color: #F7C446 !important;
  border: solid white!important;
  background: black!important;
}

#group5 button:hover{
  background: rgb(100, 100, 100)!important;
}

#group5 button:active{
    box-shadow: inset .1rem .1rem 5rem black!important;
}



/* mainpage.css Colorblind */


/* MAINpage */
.container{
  background: radial-gradient(circle 30rem, black, rgb(100, 100, 100))!important;
}

.column{
  background: black!important;
}

.column .item-container{
  border-radius: .3rem;
  border: 0.2rem solid #ffffff !important;
}

.column-4{
  background: black !important;
}


.column-1 .item-container{
  background: black !important;
}

.column-2 .item-container{
  background: black !important;
}

.column-3 .item-container{
  background: black!important;
}

.column-4 .item{
  border: 0.2rem solid white!important;
}

.item{
  border: 0.05rem solid #ffffff !important;;
  background: black!important;
  color: #F7C446 !important;
}

.button{
  border: 0.01rem solid white!important;;
  color: #F7C446 !important;
  background: black!important;
}

/* Popup container--- */
.popup-container{
  background-color: rgba(0,0,0,0.2)!important;
  color: #F7C446 !important;
}

.popup-window{
  background-color: black!important;
  border: solid 0.2rem #ffffff;
}

input {
  border: none;
  border-bottom:1px solid #757575!important;
}

/* LABEL ======================================= */
.name-label			 {
color: #F7C446 !important;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
}

.select-task {
  border: none;
  background-color: black!important;
}

textarea
{
  border: none; 
  background-color: black!important;
  color: #F7C446 !important;
  }

#group5 button
{
color: #F7C446 !important;
border: solid white !important;
border-radius: 0.5rem;
background: black !important;
}

#group5 button:hover
{
background: rgb(100, 100, 100)!important;
}

#group5 button:active
{
  box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}


/* Default CHECKBOX Hidden*/
.checkbox-container input{
  position: absolute!important;
  opacity: 0!important;
  cursor: pointer!important;
  height: 0!important;
  width: 0!important;
}
/* Custom checkbox ?

klassen checkmark må legges til isåfall

.checkmark{
background: black!important;
}

*/






/* login.css   */


.wrapper-login{
  background: black !important;
}

#login-button{ 
  color: #F7C446 !important;
	border: 0.05rem solid white!important;
	background: black!important;
}

#login-button:hover{
	background: rgb(100, 100, 100)!important;
}

#login-button:active{
  box-shadow: inset .1rem .1rem 5rem rgb(100, 100, 100)!important;
}




