/* MAIN */

.container{
  width: 100vw;
  min-height: 100vh; /*change from 100vh to auto so that background gradient goes all the way down */
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  background: radial-gradient(circle 30rem, #ffffff, #e7e7e7);
  box-sizing: border-box;
  z-index: 0;
}

.dash-title{
  align-items: center; 
  margin: auto;
  vertical-align: middle;
  grid-column-start: 1;
  grid-column-end: 3;
}

.column{
  display: grid;
  overflow-y: auto;
  grid-auto-rows: 7rem;
  grid-template-columns: 50% 50%;
  margin-top: 10rem;
  height: 66vh;
  border-radius: 0.3rem;
  box-sizing: border-box;
  padding: 0 1rem 0rem 1rem;
}

.column-2{
  background: linear-gradient(to top, #4480ed, rgba(68, 128, 237, 40%));
  margin-right: 1rem;
  border-bottom: 0.5rem solid #4480ED;
}

.column-3{
  background: linear-gradient(to top, #71dbc9, rgba(113, 219, 201, 40%));
  margin-left: 1rem;
  border-bottom: 0.5rem solid #71dbc9;
}

.item{
  overflow: hidden;/*Truls: added this so that text dont overflow when window is scaled*/
  margin: 0.5rem;
  border-radius: 0.3rem;
  background: #ffffff;
}

.item:hover{
  cursor: pointer;
}

.content{
  margin: 0 1rem 0 1rem;
  word-wrap: break-word;
}

.content h4{
  margin: 1rem 0 0.5rem 0;
}

.content h5{
  margin: 0;
}

/* END MAIN */



