/* MAIN */
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: radial-gradient(circle 30rem, #ffffff, #e7e7e7);
    box-sizing: border-box;
    z-index: 0;
}

.column{
    background: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem;
}

.column-1, .column-2, .column-3{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    height: 66vh;
    box-sizing: border-box;
}

.column-4{
    margin-top: 5rem;
    height: 88vh;
}

.column-1 .item{
    background: linear-gradient(to bottom, #ffaf52, rgba(255, 175, 82, 50%));
}

.column-2 .item{
    background: linear-gradient(to bottom, #a280e6, rgba(162, 128, 230, 50%));
}

.column-3 .item{
    background: linear-gradient(to bottom, #5ba6ff, rgba(91, 166, 255, 50%));
}

.column-4 .item{
    background: linear-gradient(to bottom, #b7e0c2, rgba(183, 224, 194, 80%));
    padding-bottom: 1rem;
}

/*Added by Truls: wanted to remove bulletpoints on the <li> tag*/
.column li {
    list-style-type: none;
}

.main-title{
    align-self: center;
}

.item{
    margin: 0.5rem;
    overflow: hidden;/*Truls: added this so that text dont overflow when window is scaled*/
    border: 0.05rem solid lightgray;
	border-radius: 0.3rem;
}

.item:hover{
    cursor: pointer;
}

.content{
    padding: 0 .5rem 0 .5rem;
    margin: 0rem .5rem 0 .5rem;
}

.add-task{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e5e5e5, rgba(229, 229, 229, 0.2)) !important; 
}

#add-task-img{
    display: block;
    margin: auto;
    height: 3rem;  
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.button{
    width: 25%;
    padding: 0.5rem;
    border: 0.01rem solid black;
    text-align: center;
}

.manual{
    margin-top: 10%;
    padding: .5rem;
}




/* Popup container--- */
.popup-container
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.popup-window
{
    background-color: white;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 40%;
    height: 70%;
    z-index: 2;
    /*font-family: "Roboto"; */ 
    border-radius: 15px;
    display: grid;
    grid-template-columns: 95%;
    padding: 0 2.5%;
}

.popup-column
{
  display: flex;
  flex-direction: column;
}

#popup-header
{
    display: flex;
    justify-content: center;
    height: 10%;
}


/* form starting stylings ------------------------------- */

#group1
{
      height: 2rem;
}

.input-box
{ 			   
  position:relative; 
  margin-bottom: 2rem; 
}
input 				{
  font-size:1.3rem;
  padding:3% 0.3rem 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;

}

input:focus 		
{ 
    outline:none; 
}

#group2
{
    height: 2rem;
}

#group4
{
      height: 6rem;
}


/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size: 1.4rem;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:1%;
  top:70%;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  opacity: 0;
}



.input-dropdown
{
    padding-top: 3%;
    position: relative;
    width: 100%;
}

select {
    width: 100%;
    padding: 2% 0;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
  }


.input-multiline
{
    width: 100%;
    background-color: #f8f8f8;

}

textarea
{
    width: 100%;
    height: inherit;
    border: none; 
    background-color: #f1f1f1;
    font-family: 'Ubuntu', sans-serif;
    resize: none;
    outline:none; 
    padding: .5rem;
    word-wrap: break-word;
}


::placeholder
{
  font-size:  1.1 rem;
}

.popup-exit-button
{
    position: fixed;
    z-index: 1;
    top: 20.5%;
    right: 15.699%;
    font-size: 1.5rem;
    cursor: pointer;
}

#group5 button
{
  color: #ffffff;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 3.5rem 1rem 3.5rem;
  margin: 2.5rem 0 1.5rem 0;
  border: solid #e8eef2;
  border-radius: 0.5rem;
  background: #b7e0c2;
  right: 2.5rem;

}

#group5 button:hover
{
  background: #a7ccb1;
}

#group5 button:active
{
    box-shadow: inset .1rem .1rem 5rem #b7e0c2;
}