html, body{
    font-size: 1rem;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

/* NAV-BAR ICONS */
#logo-icon{
	height: 7vh;
  }

#profilePicture{
	border-radius: 50%;
	height: 7vh;
}
/* END NAV-BAR ICONS */
