
/* ROOT */
html, body{
	margin: 0;
  font-size: 1rem;
	font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
.head-container{
	background: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: grid;
	grid-template-columns: 10% 15% 50% 15% 10%;
  }
  
.head-column{
	display: flex;
	justify-content: center;
	margin-top: .3rem;
}

  /* NAV-BAR ICONS */
#logo-icon{
	height: 7vh;
  }

#profile-picture{
	border-radius: 50%;
	height: 7vh;
}

/* DROPDOWN MENU */
.dropdown-content{
	display: none; 
	position: absolute;
	top: 3.8rem;
	right: 1rem;
	min-width: 15rem;
	background-color: #ffffff;
	border-radius: .3rem;
	box-shadow: black 0.1rem 0.3rem .5rem 0rem;
	overflow: hidden;
	z-index: 2;
}

.dropdown-li {
	display: block;
	color: black;
	text-decoration: none;
	padding: 1rem 1rem 1rem 1rem;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-btn:hover{
	cursor: pointer;
}

.dropdown-li:hover {
	background: #b7e0c2;
}

.dropdown-li:active{
	box-shadow: inset .1rem .1rem 5rem #9fc4a9;
}

.drop-popup-container {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	align-items: center;
	z-index: 1;
}

.drop-popup-window{
	top: 20%;
	margin: auto;
	margin-top: 5rem;
	width: 50rem;
	height: 40rem;
	z-index: 2;
	border: .05rem solid black;
	border-radius: 15px;
	padding: 0 2.5%;
	background-color: rgb(255, 255, 255);
}
/* END HEADER */

/* COMMON STYLES FOR MAIN-CONTAINER */

.add{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff; 
}

#add-img{
  display: block;
  margin: auto;
  height: 6rem;  
}

.column-1 .item:hover{
	background: #f5f5f5;
}

.column-1 .item:active{
	box-shadow: inset .1rem .1rem 5rem #ffffff;
}

.column-2 .item:hover{
	background: #f5f5f5;
}

.column-2 .item:active{
	box-shadow: inset .1rem .1rem 5rem #ffffff;
}

.column-3 .item:hover{
	background: #f5f5f5;
}

.column-3 .item:active{
	box-shadow: inset .1rem .1rem 5rem #ffffff;

}
/* END COMMON STYLES FOR MAIN-CONTAINER */

/* POP-UP ELEMENTS */

.popup-container{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	align-items: center;
	z-index: 1;
	background: rgba(0,0,0,0.2);
}

.popup-window{
	margin: 20vh 20vw 0 20vw;
	border-radius: .3rem;
	background: #ffffff;
}

.popup-head-container{
	display: grid;
	grid-template-columns: 10% 80% 10%;
	text-align: center;
}

.popup-exit-button{
	width: 3vw;
	margin-left: 2vw;
}

.popup-input-container{
	margin: 5vh 2vw 2vh 2vw;
}

.popup-input{
	font-size:1.3rem;
	width:50%;
	padding-bottom: 0.2rem;
  border: none;
  border-bottom: 0.05rem solid #757575;
}

.popup-description-container{
	display: grid;
	grid-template-columns: 70% 30%;
	margin: 0 2vw 0 2vw;
}

.popup-description-container li{
	list-style-type: none;
}

.popup-description{
	height: 20vh;
	font-size: 1rem;
}

.popup-checkbox-container{
	margin-left: 2vw;
}

.popup-checkbox{
	
}

.popup-button-container{
	padding: 5vh 2vw 5vh 2vw;
}

.popup-button{
	width: 100%;
	height: 6vh;
	border-radius: .3rem;
	font-size: 1rem;
	background: #71dbc9;
}

.popup-button:hover{
	background: #6accbc;
}