<!DOCTYPE html>
<html>
<head>
<title>Webprosjekt</title>
</head>

<body>
<form method = "post" action = "/inputName">
	<input placeholder = "User name" type="text" name="user">
	<input placeholder = "Repository name" type="text" name="repo">
	<button>Lets get started</button>
</form>
</body>
<script type="text/javascript" src=index.js></script>

</html>